<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Mantis" verbose="1" >
    <test name="login">
        <classes>
<!--            <class name="tests.LoginTests"/>-->
<!--            <class name="tests.RegistrationTests"/>-->
        </classes>
    </test>

    <test name="soap">
        <classes>
            <class name="tests.SoapTests"/>
        </classes>
    </test>
</suite>
